.home {
  background: linear-gradient(to bottom right, #0077b6, #0098e9);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50vh;
}

.home__text {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
